.container {
	max-width: 1439px;
	padding: 0 30px;
	margin: 0 auto;
}

.container--main {
	padding-bottom: 80px;
	min-height: calc(100vh - 170px);
}

.site-container {
	/* overflow: hidden; */

	background: rgb(35, 35, 35);
	background: linear-gradient(130deg, rgba(35, 35, 35, 0.95) 0%, rgba(0, 0, 0, 1) 100%);
}

.min-h-100 {
	min-height: 100%;
}
