.advantages-list {
	margin: 0;
	padding: 50px;
	border-radius: 40px;
	border: 1px solid rgba(255, 255, 255, 0.2);
}
.advantages-list__title {
	color: var(--yellow-color);
}
.advantages-list__title:not(:last-child) {
	margin-bottom: 10px;
}
dt:after {
	content: ': ';
}
.advantages-list__desc {
	margin-left: 0;
}
.advantages-list__desc:not(:last-child) {
	margin-bottom: 20px;
}
