.main {
	height: 1%;
}
.main__container {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	grid-template-rows: repeat(3, 1fr);
	position: relative;
}

.main-header {
	grid-area: 1 / 1 / 2 / 2;
	justify-self: start;
	align-self: start;
}
.card__container {
	grid-area: 1 / 3 / 2 / 4;
	justify-self: end;
	align-self: start;
	position: relative;
}
.social {
	grid-area: 3 / 1 / 4 / 2;
	justify-self: start;
	align-self: end;
}
.product__container {
	grid-area: 3 / 3 / 4 / 4;
	justify-self: end;
	align-self: end;
	position: relative;
}
.main__photo {
	grid-area: 1 / 1 / 4 / 4;
	justify-self: center;
	object-fit: contain;
	height: 100%;
}
/*  ---------------------- */

.card__container::after,
.product__container::before {
	content: '';
	position: absolute;
	opacity: 0.2;
}

.card__container::after {
	width: 100%;
	border-bottom: 2px solid var(--white-color);
	transform: translate(-98%, 24px) rotate(-20deg);
}

.product__container::before {
	width: 70%;
	border-bottom: 2px dashed var(--white-color);
	transform: translate(-80%) rotate(27deg);
}

/*  ---------------------- */

.height-lock {
	height: 100vh;
}
