.product-link {
	color: #0d0d0d;
	font-weight: 800;

	position: relative;
	width: 11vw;
	height: 11vw;
	margin: 10px;
	padding: 25px;
	border-radius: 50%;
	background-color: var(--yellow-color);

	display: flex;
	justify-content: center;
	align-items: center;
	text-align: center;
}
.product-link::after,
.product-link::before {
	content: '';
	position: absolute;
	border-radius: 50%;
	opacity: 0.2;
	border: 2px dashed #0d0d0d;
}

.product-link::after {
	width: 90%;
	height: 90%;
}
.product-link::before {
	width: 110%;
	height: 110%;
	border-color: var(--white-color);
}
