.main__Ñontent {
	padding: 50px 50px 23px;
	border-radius: 40px;
	border: 1px solid rgba(255, 255, 255, 0.2);

	display: flex;
	width: 100%;
	margin: 0 auto;
}
.photo-gallery {
	flex: 1 1 50%;
	display: flex;
	flex-direction: column;
	padding-right: 40px;
}
.photo-gallery img {
	border-radius: 26px;
}
.photo-gallery img:not(:last-child) {
	margin-bottom: 20px;
}

.product {
	flex: 1 1 50%;
}
.product > *:not(:last-child) {
	margin-bottom: 54px;
}
.product__header {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.product__header--padding {
	padding-bottom: 10px;
}

.product__price {
	font-size: 3em;
}
.product__amount {
	opacity: 0.15;
}
.product-desc__title {
	font-weight: 700;
}
.product-desc__desc {
	line-height: 1.5;
	padding-top: 8px;
	font-size: 0.9em;
}
.artistry__item {
	display: flex;
	align-items: center;
}
.artistry__item:not(:last-child) {
	margin-bottom: 20px;
}
.artistry__key,
.artistry__value {
	flex-shrink: 0;
}
.artistry__value {
	text-align: end;
}

.line {
	flex: 1 1 auto;
	border-bottom: 2px dashed #ffffff;
	opacity: 0.2;
	width: 100%;
	margin: 0 10px;
}
