.main-container {
	display: grid;
	grid-template-columns: auto 1fr auto;
	grid-template-rows: repeat(2, auto);
	grid-column-gap: 30px;
}

.emblem-left {
	grid-area: 1 / 1 / 2 / 2;
}
.main__Ñontent {
	grid-area: 1 / 2 / 3 / 3;
}
.contacts__container {
	grid-area: 1 / 3 / 2 / 4;
}
.social {
	grid-area: 2 / 1 / 3 / 2;
	justify-self: start;
	align-self: end;
}
.social-gap {
	padding-right: 130px;
}
.contacts__container > *:not(:last-child) {
	margin-bottom: 20px;
}

.emblem-right {
	grid-area: 2 / 3 / 3 / 4;
	justify-self: end;
	align-self: end;
}

.emblem-left,
.emblem-right {
	content: url('../../img/emblem.svg');
}
